@page
@model MagazinOnline.Pages.Categorii.CreateModel

@{
    ViewData["Title"] = "Creeaza";
}



<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Categorie.Nume" class="control-label"></label>
                <input asp-for="Categorie.Nume" class="form-control" />
                <span asp-validation-for="Categorie.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie.Descriere" class="control-label"></label>
                <input asp-for="Categorie.Descriere" class="form-control" />
                <span asp-validation-for="Categorie.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Creeaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Inapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
