@page
@model IndexModel
@{
    ViewData["Title"] = "PaginaPrincipala";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Bine ati venit pe pagina noastra</h1>
    <br />
    <img src="/LogoOM.jpg"</img>
</div>
